<div class="row">
  <div class="col-md-12">
    <h3>Available users</h3>
    <ngx-table
      [configuration]="configuration"
      [data]="availableUsers"
      [columns]="columns"
      (event)="eventEmitted($event)">
    </ngx-table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h3>Busy users</h3>
    <ngx-table
      [configuration]="configurationBusy"
      [data]="busyUsers"
      [columns]="columns"
      (event)="eventEmitted($event)">
    </ngx-table>
  </div>
</div>
