<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="addProject()">Add project</button>
    <button class="btn btn-primary" (click)="addWorker()">Add worker</button>
  </div>
</div>
<div class="row">
  <div [class.col-md-9]="showOptions" [class.col-md-12]="!showOptions">
    <svg preserveAspectRatio="none">
      <g></g>
    </svg>
  </div>
  <div class="mt-3 col-md-3" *ngIf="showOptions">
    <i class="pull-right fa fa-close fa-lg" (click)="closeMenu()"></i>
    <form class="mt-3" *ngIf="isWorker()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               [(ngModel)]="nameValue"
               id="name"
               aria-describedby="name"
               placeholder="Name"
               class="form-control"
               name="name">
      </div>
      <div class="form-group" *ngIf="edges">
        <table class="table">
          <thead>
          <tr>
            <th>Connection</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let edge of edges">
            <td>{{edge.v}} -> {{edge.w}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-link text-danger" (click)="unlink(edge)">
                Unlink
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <button type="button"
              class="btn btn-light"
              (click)="remove()">
        Remove
      </button>
      <button type="button"
              class="btn btn-primary pull-right"
              (click)="saveNode()">
        Save
      </button>

    </form>
    <form class="mt-3" *ngIf="isLabel()">
      <div class="form-group">
        <label for="labelValue">Value</label>
        <input type="number"
               min="1"
               max="250"
               [(ngModel)]="labelValue"
               id="labelValue"
               aria-describedby="labelValue"
               placeholder="value"
               class="form-control"
               name="labelValue">
      </div>
      <button type="button"
              class="btn btn-primary pull-right"
              (click)="saveLabel()">
        Save
      </button>

    </form>
  </div>
</div>
<ngx-smart-modal [identifier]="'modal'">
  <ng-template #modalContainer></ng-template>
</ngx-smart-modal>
